.main {
    margin: 28px 182px 20px 148px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.title {
    color: #838383;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.38px;
    margin-bottom: 20px;
}
