.main {
    width: 100%;
    max-width: 1110px;
    margin: 28px 165px 20px 165px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.title {
    color: #838383;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.38px;
    margin-bottom: 20px;
}
