.header {
    margin: 15px 165px 0px 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #101010;
    font-weight: 700;
    font-size: 25px;
    line-height: 30.48px;
    transition: 0.5s;
}

.logo:hover {
    color: #ffa542;
    font-weight: 900;
}

.ul {
    display: flex;
    align-items: center;
    gap: 5px;
}

.li {
    padding: 10px;
    position: relative;
}

.icon {
    font-size: 22px;
    line-height: 20px;
    color: #838383;
    transition: 0.2s;
}

.icon:hover {
    color: #101010;
}

.circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    line-height: 18.29px;
    background-color: #ffa542;
    text-align: center;
    position: absolute;
    top: 4px;
    right: 0px;
}
