.footer {
    margin: 0 148px 0 182px;
    padding: 29px 29px 32px 27px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px #0000001a;
    border-radius: 30px 30px 0 0;
    display: grid;
    grid-template-columns: auto 213px 213px auto;
}

.logo {
    color: #101010;
    font-weight: 700;
    font-size: 25px;
    line-height: 30.48px;
    transition: 0.5s;
}

.logo:hover {
    color: #ffa542;
    font-weight: 900;
}

.ulNav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.itemNav,
.terms {
    color: #000000;
    font-weight: 400;
    font-size: 17px;
    line-height: 20.72px;
    transition: 0.5s;
}

.itemNav:hover,
.terms:hover {
    color: #838383;
    text-decoration: underline;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.terms {
    padding-bottom: 34px;
    cursor: pointer;
}

.ulInfo {
    display: flex;
    align-items: center;
    gap: 17px;
    padding-right: 39px;
}

.itemInfo {
    color: #101010;
    font-weight: 500;
    font-size: 15px;
    line-height: 18.29px;
    transition: 0.5s;
    cursor: pointer;
}

.itemInfo:hover {
    color: #ffa542;
    font-weight: 700;
}

.focus {
    color: #ffa542;
    font-weight: 700;
}

.ulContacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 18px;
}

.itemContact {
    fill: #101010;
    transition: 0.2s;
    cursor: pointer;
}

.itemContact:hover {
    fill: #ffa542;
}

svg {
    stroke: #838383;
    &:hover {
        stroke: #ffa542;
    }
}
